@charset "utf-8";

.mobius_content {
    display: flex;
    flex-direction: column;
    height: 95vh; 
    width: 60vw;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(20 / 850 * 100vh); /* 约 2.35vh */
}

.left-top {
    display: flex;
    flex-direction: row;
    gap: calc(10 / 1650 * 100vw); /* 约 0.61vw */
    align-items: center;
}

.input-section {
    display: flex;
    gap: calc(20 / 1650 * 100vw); /* 约 1.21vw */
    margin-bottom: calc(20 / 850 * 100vh); /* 约 2.35vh */
}

.right-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: calc(10 / 1650 * 100vw); /* 约 0.61vw */
}

.chart-section1 {
    display: flex;
    justify-content: center;
    gap: calc(20 / 1650 * 100vw); /* 约 1.21vw */
}

.chart-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(20 / 1650 * 100vw); /* 约 1.21vw */
}

.chart-container {
    display: flex;
    gap: 10px; /* 设置两个图表的间距 */
    justify-content: center; /* 水平居中 */
}

.card {
    background-color: rgba(65, 161, 240, 0.7);
    padding: calc(13 / 850 * 100vh);
    border-radius: calc(8 / 1650 * 100vw);
    box-shadow: 0 calc(2 / 850 * 100vh) calc(4 / 850 * 100vh) rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(110 / 1650 * 100vw); 
    min-height: calc(70 / 850 * 100vh); 
    gap: calc(10 / 1650 * 100vw); 
}

input[type="number"] {
    width: calc(100 / 1650 * 100vw); /* 约 6.06vw */
    padding: calc(5 / 850 * 100vh); /* 约 0.59vh */
    border: 1px solid #ccc;
    border-radius: calc(4 / 1650 * 100vw); /* 约 0.24vw */
}

button {
    padding: calc(10 / 850 * 100vh) calc(15 / 1650 * 100vw); /* 约 1.18vh 0.91vw */
    border: none;
    border-radius: calc(4 / 1650 * 100vw); /* 约 0.24vw */
    background-color: rgba(65, 161, 240, 0.8);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: calc(14 / 1650 * 100vw); /* 约 0.85vw */
}

button:hover {
    background-color: #0056b3;
}

.chart {
    width: calc(600 / 1650 * 100vw); /* 约 36.36vw */
    height: calc(500 / 850 * 100vh); /* 约 58.82vh */
    background-color: rgba(65, 161, 240, 0.7);
    border-radius: calc(5 / 1650 * 100vw); /* 约 0.3vw */
}

.chart2 {
    width: calc(600 / 1650 * 100vw); /* 约 48.48vw */
    height: calc(500 / 850 * 100vh); /* 约 76.47vh */
    background-color: rgba(65, 161, 240, 0.7);
    border-radius: calc(5 / 1650 * 100vw); /* 约 0.3vw */
}
